<ibm-loading *ngIf="showLoader" [isActive]="true" [size]="normal" [overlay]="true"></ibm-loading>

<div ibmGrid *ngIf="!survey">
    <div ibmRow>
        <div ibmCol class="custom-class-example" [columnNumbers]="{'md': 4, 'sm': 12}">
            <ibm-label>
                Drug name
                <input ibmText placeholder="Enter drug name" [(ngModel)]="drugname1">
            </ibm-label>
        </div>
        <div ibmCol class="custom-class-example" [columnNumbers]="{'md': 4, 'sm': 12}">
            <ibm-label>
                Requird numbers
                <input ibmText placeholder="Enter count" [(ngModel)]="count1">
            </ibm-label>
        </div>
    </div>

    <br>
    <div ibmRow>
        <div ibmCol class="custom-class-example" [columnNumbers]="{'md': 4, 'sm': 12}">
            <ibm-label>
                Drug name
                <input ibmText placeholder="Enter drug name" [(ngModel)]="drugname2">
            </ibm-label>
        </div>
        <div ibmCol class="custom-class-example" [columnNumbers]="{'md': 4, 'sm': 12}">
            <ibm-label>
                Requird numbers
                <input ibmText placeholder="Enter count" [(ngModel)]="count2">
            </ibm-label>
        </div>
    </div>

    <br>
    <div ibmRow>
        <div ibmCol class="custom-class-example" [columnNumbers]="{'md': 4, 'sm': 12}">
            <ibm-label>
                Drug name
                <input ibmText placeholder="Enter drug name" [(ngModel)]="drugname3">
            </ibm-label>
        </div>
        <div ibmCol class="custom-class-example" [columnNumbers]="{'md': 4, 'sm': 12}">
            <ibm-label>
                Requird numbers
                <input ibmText placeholder="Enter count" [(ngModel)]="count3">
            </ibm-label>
        </div>
    </div>

    <br>
    <button ibmButton="primary" (click)="submit()">Submit</button>
</div>

<div ibmGrid *ngIf="survey">
    <h1>Please fill this survey</h1>
    <p>Are you good financially? Are you able to make both ends meet?</p>
    <textarea ibmTextArea aria-label="textarea" [(ngModel)]="finance"></textarea>

    <br>
    <p>Do you feel secured in the job? Do you think you need a better job?</p>
    <textarea ibmTextArea aria-label="textarea" [(ngModel)]="job"></textarea>

    <br>
    <button ibmButton="primary" (click)="submitSurvey()">Submit</button>
</div>

<div ibmRow *ngIf="drugToast">
    <div ibmCol class="custom-class-example" [columnNumbers]="{'md': 3, 'sm': 12}">
    </div>
    <div ibmCol class="custom-class-example">
        <ibm-toast (click)="clicked()" [notificationObj]="{
            type: 'success',
            title: 'Success',
            subtitle: 'Request Added',
            showClose: showClose
        }"></ibm-toast>
    </div>
    <div ibmCol class="custom-class-example" [columnNumbers]="{'md': 3, 'sm': 12}">
    </div>
</div>

<div ibmRow *ngIf="surveyHappyToast">
    <div ibmCol class="custom-class-example" [columnNumbers]="{'md': 3, 'sm': 12}">
    </div>
    <div ibmCol class="custom-class-example">
        <ibm-toast (click)="clicked()" [notificationObj]="{
                type: 'success',
                title: 'Success',
                subtitle: 'Thanks for the survey',
                caption: 'Please consume the opioids as directed by the physician and strictly adhere to the schedule. Do not overconsume.
                 Please contact us for any assistance.',
                showClose: showClose
            }"></ibm-toast>
    </div>
    <div ibmCol class="custom-class-example" [columnNumbers]="{'md': 3, 'sm': 12}">
    </div>
</div>

<div ibmRow *ngIf="surveySadToast">
    <div ibmCol class="custom-class-example" [columnNumbers]="{'md': 3, 'sm': 12}">
    </div>
    <div ibmCol class="custom-class-example">
        <ibm-toast (click)="clicked()" [notificationObj]="{
                    type: 'success',
                    title: 'Success',
                    subtitle: 'Thanks for the survey',
                    caption: 'You will be provided with a connected pillbox when you visit the pharmacist. Please contact us for details.',
                    showClose: showClose
                }"></ibm-toast>
    </div>
    <div ibmCol class="custom-class-example" [columnNumbers]="{'md': 3, 'sm': 12}">
    </div>
</div>